///////// COLORS
// $primary-color: #3498db;
// $secondary-color: #9ec862;

////////// FONTS
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Poppins', sans-serif;

///////// TRANSITION
// $smooth-trans: all 0.3s ease-in-out;

///////// BOX SHADOW
$shadow-1: 0 3px 15px rgba(100, 100, 100, 0.5);
$shadow-2: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

///////// BREAKPONTS
// $bp-lg: 50em;
// $bp-md: 43.75em;

////////// MIXIN
@mixin alignItemCenter() {
  display: flex;
  align-items: center;
  justify-content: center;

  // position: $typePosition;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  // @if $typePosition == 'fixed' {
  //   text-align: center;
  // }
}

@mixin pokemonContainer($width) {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;

  @if ($width == 120) {
    max-width: 120rem;
  } @else if ($width == 100) {
    max-width: 100rem;
    // flex-wrap: nowrap;
  }
}

//////////////////////////////////////
/////////////////////////////////////

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #222;
  font-weight: 400;
  font-family: $primary-font;
  line-height: 1.4;
}

//////////////////////////////////////////

.container {
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;

  @include alignItemCenter();
}

.spinner {
  margin: 0 auto;
  text-align: center;

  img {
    height: 8rem;
    width: 8rem;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.heading--1 {
  font-size: 3.5rem;
  margin: 1rem 3rem;
  letter-spacing: 3px;
  text-align: center;
  color: #333;
}

.filter-pokemon {
  font-size: 1.6rem;
  border: none;
  width: 30rem;
  border-radius: 4px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  font-family: $primary-font;

  &:focus {
    outline: none;
    box-shadow: $shadow-1;
  }
}

.pokemon {
  @include pokemonContainer(120);

  &__card {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: $shadow-1;
    padding: 2rem;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.2s;
    text-align: center;

    &:hover {
      transform: translateY(-3px);
    }

    &__img {
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 50%;
      width: 12rem;
      height: 12rem;

      img {
        max-width: 90%;
        margin-top: 2rem;
        object-fit: cover;
      }
    }
  }

  &__info {
    margin-top: 2rem;

    &__number {
      background-color: rgba(0, 0, 0, 0.1);
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      display: inline;
    }

    &__name {
      font-size: 1.6rem;
      margin: 1.5rem 0 0.7rem;
      letter-spacing: 1px;
    }

    &__type {
      font-weight: 600;

      span {
        font-weight: 400;
      }
    }

    &__number,
    &__type {
      font-size: 1.2rem;
    }
  }
}

.unvalid-message {
  font-size: 2.4rem;
  margin-top: 1.5rem;
}

.hide {
  display: none;
}
